name: Build and Push Docker Image

on:
  push:
    branches: [ master ]
    paths:
      - 'Dockerfile'
      - 'app.js'
      - 'package.json'
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  IMAGE_NAME: merge-sub

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: "Checkout repository (Branch: ${{ github.ref_name }})"
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }} 

      - name: "Log in to GitHub Container Registry"
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: "Set up Docker Buildx"
        uses: docker/setup-buildx-action@v3

      - name: "Build and Push Docker Image"
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64
          tags: |
            ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
